

/* FAQ Section */
.faq-section {
    background-color: #f9fafb;
    animation: fadeInSection 1s ease-out;
    padding-top: 50px;  /* Add padding to avoid overlap */
    padding-bottom: 50px;
    margin-top: 80px;  /* Add margin to ensure space from the map */
    z-index: 1;  /* Ensure it stays above other sections */
  }
  
  
  .faq-title {
    font-size: 2.8rem;
    color: #2b3e50;
    margin-bottom: 25px;
    text-align: center;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    animation: slideInTitle 1s ease-out;
  }
  
  .faq-description {
    font-size: 1.25rem;
    color: #546375;
    margin-bottom: 50px;
    text-align: center;
    line-height: 1.6;
    animation: fadeInText 1.2s ease-out;
  }
  
  .faq-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    opacity: 0;
    animation: fadeInFAQs 1.5s ease-out forwards;
    animation-delay: 0.5s;
  }
  
  .faq-item {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    padding: 25px;
    transition: background-color 0.3s;
  }
  
  .faq-item:hover {
    background-color: #f0f2f5;
  }
  
  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    color: #2b3e50;
    cursor: pointer;
  }
  
  .faq-question h3 {
    margin: 0;
  }
  
  .faq-icon {
    font-size: 1.5rem;
    color: #2b3e50;
    transition: transform 0.3s;
  }
  
  .faq-answer {
    display: none;
    font-size: 1rem;
    color: #6a7b8c;
    padding-top: 10px;
    line-height: 1.6;
  }
  
  .faq-item.open .faq-answer {
    display: block;
  }
  
  .faq-item.open .faq-icon {
    transform: rotate(180deg);
  }
  
  .faq-item.open {
    background-color: #f0f2f5;
  }
  
  /* Keyframes for animations */
  @keyframes fadeInSection {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes slideInTitle {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeInText {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fadeInFAQs {
    0% {
      opacity: 0;
      transform: translateY(40px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* FAQ Toggle Animation */
  .faq-item .faq-question {
    cursor: pointer;
  }
  
  .faq-item .faq-answer {
    display: none;
  }
  
  .faq-item.open .faq-answer {
    display: block;
    animation: slideDown 0.3s ease-out;
  }
  
  @keyframes slideDown {
    0% {
      max-height: 0;
      opacity: 0;
    }
    100% {
      max-height: 1000px;
      opacity: 1;
    }
  }